/* app/globals.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #4d3f35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
